@model IEnumerable<EmployeeVendorsMVC.Models.EmployeeMVC>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    <a href="@Url.Action("AddOrEdit","Employees")" class="btn btn-success">
    <span class="glyphicon glyphicon-plus"></span>
    Add Employees</a>

    <a href="@Url.Action("Index","Vendors")" class="btn btn-success">
        <span class="glyphicon glyphicon-list"></span>
        Vendors
    </a>
</p>
<table class="table table-bordered table-condensed well" >
    <tr class="head">
        <th>
            @Html.DisplayNameFor(model => model.EmployeeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OtherName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.D_O_B)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.Department)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Salary)
        </th>
        <th>Actions</th>
    </tr>

@foreach (var item in Model) {
    <tr >
        <td>
            @Html.DisplayFor(modelItem => item.EmployeeId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Surname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OtherName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.D_O_B)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.Department)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Salary)
        </td>
        <td>
            <a href="@Url.Action("AddOrEdit","Employees", new { id=item.Id})"class="btn btn-success">
            <span class="glyphicon glyphicon-edit"></span>
            Edit</a>
            <a onclick="Delete(@item.Id)" class="btn btn-success">
                <span class="glyphicon glyphicon-trash"></span>
                Delete
            </a>
        </td>
    </tr>
}

</table>
@section scripts{

    <script>
       $(function () {

           var successMessage = '@TempData["SuccessMessage"]'
           if (successMessage != '')
               alertify.success(successMessage);
       });

       function Delete(id) {
           alertify.confirm('Web api operations', 'Are you sure you want to delete record', function () {
               window.location.href = '@Url.Action("Delete","Employees")/' + id;
           }, null);

       }

    </script>

}